[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[dev-packages]

[packages]
flask = "*"
google-cloud-speech = "*"
google-cloud-translate = "*"
requests = "*"
gunicorn = "*"
flask-socketio = "*"
gevent = "*"
flask-cors = "*"
grpcio = "*"
responses = "*"
ffmpy = "*"
streamlink = "*"
eventlet = "*"
theano = "*"
