[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[dev-packages]

[packages]
flask = "*"
google-cloud-speech = "*"
google-cloud-translate = "*"
flask-restful = "*"
"httplib2" = "*"
requests = "*"
gunicorn = "*"
interface = "*"
python-interface = "*"
zope-interface = "*"
mock = "*"
patch = "*"
